 <!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial;
 background-color: darkcyan;    }

    .box {
      text-align: center;
    }

    h2 {
      text-decoration: underline;
    }

    .btn {
      padding: 8px 15px;
      background: black;
      color: white;
      font-size: 15px;
      text-decoration: none;
    }
  </style>
</head>

<body>

<div class="box">
  <h2>Dashboard</h2>
  <p>Welcome User</p>

  <a class="btn" href="/products">Products</a><br><br>
 <a href="/logout" class="btn">Logout</a>
</div>

</body>
</html>
